apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: homepage
  namespace: homepage
resources:
  - base/namespace.yaml
  - base/deployment.yaml
  - base/cluster-role.yaml
  - base/configmap.yaml
  - base/ingress.yaml
  - base/secret.yaml
  - base/service-account.yaml
  - base/service.yaml