globalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"

additionalArguments:
  - "--serversTransport.insecureSkipVerify=true"
  - "--log.level=INFO"

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    tls:
      enabled: true
      secretName: bitforger-dev-tls

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.bitforger.dev`) && PathPrefix(`/dashboard`) || PathPrefix(`/api`)

ingressClass:
  enabled: true
  isDefaultClass: false
  name: traefik-external

providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik-external
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    publishedService:
      enabled: false

rbac:
  enabled: true

service:
  enabled: true
  type: LoadBalancer
  annotations: {}
  labels: {}
  spec:
    loadBalancerIP: 192.168.3.30 # this should be an IP in the MetalLB range
  loadBalancerSourceRanges: []
  externalIPs: []

dashboard:
  enabled: true