namespace: metallb-system
resources:
  - github.com/metallb/metallb/config/native?ref=v0.15.3
  - network-config.yaml
patches:
  - target:
      kind: Namespace
      name: metallb-system
    patch: |-
      - op: add
        path: /metadata/labels/pod-security.kubernetes.io~1enforce
        value: privileged
      - op: add
        path: /metadata/labels/pod-security.kubernetes.io~1audit
        value: privileged
      - op: add
        path: /metadata/labels/pod-security.kubernetes.io~1warn
        value: privileged